@import "tailwindcss";

.scrollbar-hide::-webkit-scrollbar {
    display: none; 
}
.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.custom-bg {
    background: linear-gradient(90deg, #f81a64 0, #f52222 50%, #ff691d 86%, #ffb623);
}
.custom-text {
    color: linear-gradient(90deg, #f81a64 0, #f52222 50%, #ff691d 86%, #ffb623);
}